.orders-cont{
  // background-color: ;
  min-height: calc(100vh - 120px);
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stat-cont{
  margin-top: 1em;
  display:flex;
  align-items: center;
  justify-content:center;
  overflow-x: visible; 
  overflow-y:hidden;
  width: 100vw;
  white-space: nowrap;

}
.stat-card{
  margin-left: 1em;
  padding: 1em;
}
.order-card{
  width: 320px;
  margin-bottom: 1em;
}
.order-desc{
  border: rgba(0,0,0,0.3) solid .5px;
  border-radius: 8px;
  padding: .5em;
}

.event-page-cont{
  display: flex;
  padding-top:2em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.event-card{
  height: 320px;
  margin-top: 2em;
  margin-bottom: 2em;
  transition: .4s;
  // background-color: red;
  width: 320px;
  background-size: cover;
	background-repeat: no-repeat;
  // background-position: center ;
  border-radius: .6em;
  position: relative;
  z-index: 0;
    .event-card-img{
      height: 320px;
      width: 320px ;
      border-radius: .6em;
      background: rgba(black, .12);
      // background: linear-gradient(to top, rgba(black, .8), rgba(black, 0), rgba(white, .3));
      opacity: .8;
      transition: all 350ms ease-out 0s;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -1;
    }
    .event-card-overlay{
      z-index: 2;
      height: 320px;
      width: 320px;
      // background-color: red;
      font-size: 40px;
      color: #e0e0e0;
      display: flex;
      .event-card-title{
        padding: .2em;
        margin-top: auto;
        width: 320px !important;
        background-color: rgba(black, .4);
        backdrop-filter: saturate(160%) blur(2px);
        border-radius: 0px 0px 10px 10px;
        align-self: flex-end;
      }
      .event-card-desc{
        margin-left: .5em;
        color: #e2e2e2;
      }
      .event-card-content{
        margin-left: .5em;
        color: #e2e2e2;
      }
    }
    .event-card-admin{
      position: absolute;
    }
}






// drop zone styling


.dropzone-section{
    width: 100%;
}

.dropzone{
    height: 5em;
    padding: 1em;
    width: 300px;
    border: 2px dashed salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.active-dropzone{
    border: 2px dashed purple;
}

.social-card-cont{
  display: flex;
}

.social-card{
  width:300px;
  margin-left: .5em;
  background-color: #e0e0e0;
}

.add-loc-cont{
  padding-top: 30px;
    padding-bottom: 92px;
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loc-submit-btn{
  width:69vw;
  margin-top:.5em;
}
.add-loc-header-cont{
  width:69vw;
  
  padding-bottom: 36px;
  padding-top: 34px;
}
.add-loc-header{
  width: 100%;
}
.add-loc-form-cont{
  width:69vw;
  
}
.add-loc-form{
  width: 420px;
}
.add-loc-map{
  width: 100%;
  height:100%;
}
.map-cont{
  width: 69vw;
  height:400px;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.map-overlay{
  position: absolute;
  padding: .5em;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
  pointer-events: none;
  z-index: 999999;
}
.marker-tooltip{
  pointer-events: visible !important;
}
.account-card{
  // background-color: #3f3e43 !important;
  border-radius: 10px !important;
  width: 400px;
  height: fit-content;
}
.account-card-cont{
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.account-list-item{
  // background:rgba(#f25c05, 0.6) !important;
  border: solid .7px rgba(0,0,0,.09) !important;
  border-radius: 17px !important;
  margin-top: .7em !important;
}
.account-list-item:hover{
  background-color: rgba(#d98555,0.07) !important;
}
// .dialog{
//   background-color:  rgba(#d98555,0.3) !important;
// }

.dialog-header{
  margin: .6em !important;
  margin-bottom: 0em !important;
}
.normal-button{
  border-radius: 20px !important;
}

.dialog-loc-container{
  margin: .5em;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.dialog-time-cont{
  display:flex;
  width:100%;
  margin-top: .4em;
  margin-left: auto;
  align-items: center;
  overflow: auto;
  // padding-bottom:.4em;
}
.dialog-time-chip{
  margin: .3em !important;
}
.dialog-loc{
  width: 80% !important;
}
// .order-type-dialog{
//   background-color: #d98555e7 !important;
// }
.checkout-cont{
  padding: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.checkout-item{
  width: 50% ;
  padding: .5em;
  // background-color: #f5eae3;
}
.checkout-item-header{
  font-size: 25px !important;
  font-weight: 400 !important;
  margin-bottom: .1em !important;
}
.checkout-loc-card{
  padding: 0em !important;
  margin: 0em  !important;
  // background:#ddcbc288 !important;
}
.desc-table-item{
  display:flex;
  align-self: flex-start;
  justify-content: space-between;
  width: 100%;
}
.checkout-loc-card-cont{
  margin:1em;
}
.menu-header{
  // margin: .5em !important;
  background-color: #fff !important;
  width: fit-content;
  height: fit-content;
  margin:auto !important;
  margin-top: -.65em !important;
  box-shadow: 0px 0px 10px rgba(255,255,255,0.8) !important;
}

.menu-header-divider{
  background-color: #f25c05 !important;
  margin-top: 3em !important;
  // position: absolute;
  width: 100%;
  // margin-left: 20% !important;
}
.normal-btn{
  margin-top: 1em !important;
  margin-left: auto !important;
  margin-right: auto !important;
  z-index: 9999999999999999999999999999999 !important;
  // margin:auto !important;
}
.card-dialog{
  z-index: 999 !important;
  height: calc(100vh - 65px);
  margin-top: auto;
}
.fab-cart-cont{
  pointer-events: none !important;
  // background-color: red;
  // width: 100%;

}

// .checkout-item-cart-cont{
//   background-color: #ffffff65 !important;
// }