.codepen-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 225px;
    height:265px;
    padding: 15px;
    z-index: 0;
    cursor: pointer;
}

.codepen-card-image {
  height: 160px;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
  margin-bottom: .5rem;
}

.codepen-card-user {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}



.codepen-card-user-details {
  flex: 1;
  color: white;
  padding: 0 0.5rem;
}

.codepen-card-user-details > .title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
//   width: 30px;
//     height: 300px;
}

.codepen-card-user-details > .name {
  font-size: 0.875rem;
  margin: 0;
}

.codepen-card-metrics {
  height: 0;
  overflow: hidden;
  transition: all 150ms ease;
}

// drop zone styling


.dropzone-section{
    width: 100%;
}

.dropzone{
    height: 5em;
    padding: 1em;
    width: 300px;
    border: 2px dashed salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.active-dropzone{
    border: 2px dashed purple;
}

.social-card-cont{
  display: flex;
}

.social-card{
  width:300px;
  margin-left: .5em;
  background-color: #e0e0e0;
}