.appbar-nav{
    z-index:3;
    // flexDirection:'',
    background:rgba(255,255,255,0.8) !important;
    padding:0em;
    // height:'48px',
    backdrop-filter: saturate(180%) blur(20px) !important;
}
.content-nav{
    display: flex;
    width: 100%;
    padding: .3em;
    li{
        Button{
            span{
                text{
                    margin-top: -2.5em;
                }
            }
        }
    }
}
.brand-pic{
    display: block;
    background-image: url(./images/bk-big.png);
    height: 60px;
    width: 60px;
    margin-left: 20vw;
    margin-top: .5em;
    // margin-left: 10em;
}
.icon-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.menu-icon{
    visibility: hidden;
}

.bottom-nav{
    position: fixed;
    width: 100%;
    margin-top: calc(100vh - 60px);
    // left: 0;
    display: flex;
    // flex-direction:column;
    align-items: center;
    justify-content: space-between !important;
    visibility: hidden;
}

.menu-tab{
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: saturate(180%) blur(10px);
    background: rgba(236, 231, 231, 0.8) !important;
    margin-top:63px;
    z-index: 2 !important;
 
}