.appbar-nav{
    z-index:3;
    // flexDirection:'',
    background:rgba(rgb(248, 247, 245),1) !important;
    padding:0em;
    box-shadow: none !important;
    border-bottom: solid .7px rgba(0,0,0,0.2) !important;

    height:64px;
    // backdrop-filter: saturate(0%) blur(4px) !important;
}
.tab-cont{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content-nav{
    display: flex;
    width: 100%;
    padding: .3em;
    li{
        Button{
            span{
                text{
                    margin-top: -2.5em;
                }
            }
        }
    }
}
.brand-pic{
    // display: block;
    height: 2em;
    visibility: hidden;
    width: 2.6em;
    filter: brightness(1) invert(0);
    margin-top: .35em;
    margin-left: 0em;
    cursor: pointer;
}
.hero-logo-pic{
    height: 4em;
    width: 4.6em;
    filter: brightness(1);
    cursor: pointer;
}
.icon-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.menu-icon{
    visibility: hidden;
}

.bottom-nav{
    position: fixed;
    width: 100%;
    margin-top: calc(100vh - 134px);
    // left: 0;
    display: flex;
    flex-direction:column;
    align-items:  flex-end;
    justify-content: space-between !important;
    visibility: hidden;
}

.menu-tab{
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: saturate(180%) blur(10px);
    box-shadow: none !important;
    background: rgba(255, 255, 255,0.8) !important;
    margin-top:63px;
    z-index: 2 !important;
 
}