// widescreen 
@include mediaXL {


}
@include mediaLg{
    main{
        &#grid-section{
            grid-template-columns: 1fr;
        }
    }   
}
@include mediaMd{
    &.clipped-header{
        margin-top: -8em;
    }
    &.hero-subtitle{
        color:rgba(250, 249, 249, 0.8)
    }
    &.v-header{
        height:65vh;
        justify-content: center;
    }
    &.fullscreen-video-wrap img{
        position: absolute;
        clip-path: none;
    }
    &.hero-brand{
        margin-top: -3em;
        height:230px;
        width:420px;
        backdrop-filter: saturate(110%) blur(0px);
        background-image: url(./images/boss-trns.png);
        background-position:center ;
        background-size: cover;
      }
    #brand-pic{
        margin-left: 0;
        margin-right: 0;
    }
    #toolbar{
        Button{
            &.cont-nav{
                visibility: hidden;
                position: absolute;
            }
            
        }
    }
    &.bottom-nav{
        visibility: visible;
    }
    &.Event-desc{
        h2{
            font-size: 40px;
        }
    }
    &.offer-cont{
        width: 100%;

    }
    &.event-content{
        margin-top:calc(69px);
    }
    &.offer-display{
        visibility: hidden;
    }
    &.banner{
        background-size: 1000px 430px;
    }
    &.brand-pic{
        visibility: visible;
        margin-left: 1em;
    }
    &.ad-grid{
        grid-template-columns: 1fr;
    }

   &.menu-icon{
       visibility: visible;
   }
   section{
        min-height: calc(80vh - 70px);
        // display: block;
        padding: .4em;
        h2{
            font-size: 56px;
        }
   }
   &.event-content{
    margin-top:3em;
}
}

@include mediaSm{
    &.event-header-image{
        width: 400px;
        height: 250px;
    }
    &.event-content-title{
        font-size: 40px !important;
    }
    &.event-content{
        margin-top:1em;
    }
    // &.event-header{
    //     height: 20vh;
    // }
    &.event-header-title{
        font-size: 30px !important;
    }
    &.v-header{
        height:55vh;
    }
    &.hero-brand{
        margin-top: -3em;
        height:150px;
        width:300px;
        backdrop-filter: saturate(110%) blur(0px);
        background-image: url(./images/boss-trns.png);
        background-position: center;
        background-size: contain;
    }
    &.Event-desc{
        h2{
            font-size: 38px;
        }
    }
    &.offer-card{
        width: 300px;
    }
    &.banner{
        background-size: 525px 350px;
    }
    header{
        ul{
            &.content-nav{
                background-color: white;
            }
        }
    }
    section{
        h2{
            margin-top: 10vh;
            font-size: 45px;
        }
        & .btn-group{
            display: flex;
            justify-content: center;
            // align-items: center;
            margin-top: 13vh;
            // background-color: white;
        }   
    }
    #toolbar{
        padding:.6em;
    }
}