// widescreen 
@include mediaXL {


}
@include mediaLg{
    main{
        &#grid-section{
            grid-template-columns: 1fr;
        }
    }   
}
@include mediaMd{
    #brand-pic{
        margin-left: 0;
        margin-right: 0;
    }
    #toolbar{
        Button{
            &.cont-nav{
                visibility: hidden;
                position: absolute;
            }
            
        }
    }
    &.bottom-nav{
        visibility: visible;
    }
    &.Event-desc{
        h2{
            font-size: 40px;
        }
    }
    &.offer-cont{
        width: 100%;

    }
    
    &.offer-display{
        visibility: hidden;
    }
    &.banner{
        background-size: 1000px 430px;
    }
    &.brand-pic{
        visibility: visible;
        margin-left: 1em;
    }
    &.ad-grid{
        grid-template-columns: 1fr;
    }

   &.menu-icon{
       visibility: visible;
   }
   section{
        min-height: calc(80vh - 70px);
        // display: block;
        padding: .4em;
        h2{
            font-size: 56px;
        }
   }
}

@include mediaSm{
    &.main-container{
        margin-top: 56px;
    }
    &.Event-desc{
        h2{
            font-size: 38px;
        }
    }
    &.offer-card{
        width: 300px;
    }
    &.banner{
        background-size: 525px 350px;
    }
    header{
        ul{
            &.content-nav{
                background-color: white;
            }
        }
    }
    section{
        h2{
            margin-top: 10vh;
            font-size: 45px;
        }
        & .btn-group{
            display: flex;
            justify-content: center;
            // align-items: center;
            margin-top: 13vh;
            // background-color: white;
        }   
    }
    &.brand-pic{
        margin-left: 1em;
    }
}