// widescreen 
@include mediaXL {


}
@include mediaLg{
    main{
        &#grid-section{
            grid-template-columns: 1fr;
        }
    }   
}
@include mediaMd{
    &.comment-section-img-cont{
        justify-content: flex-start;
        height: 160px;
    }
    &.comment-section-img{
        width: 300px;
    }
    &.comment-section-title{
        font-size: 25px;
    }
    &.hero-section-content{
        height: 80%;
    }
    #brand-pic{
        margin-left: 0;
        margin-right: 0;
    }
    #toolbar{
        Button{
            &.cont-nav{
                visibility: hidden;
                position: absolute;
            }
            
        }
    }
    &.bottom-nav{
        visibility: visible;
    }
    &.Event-desc{
        h2{
            font-size: 40px;
        }
    }
    &.offer-cont{
        width: 100%;

    }
    &.event-content{
        margin-top:calc(69px);
    }
    &.offer-display{
        visibility: hidden;
    }
    &.banner{
        background-size: 1000px 430px;
    }
    &.brand-pic{
        visibility: visible;
        margin-left: 1em;
    }
    &.ad-grid{
        grid-template-columns: 1fr;
    }
    &.menu-tab{
        margin-top: 74px;
    }
   &.menu-icon{
       visibility: visible;
   }
   &.event-content{
    margin-top:3em;
}
}

@include mediaSm{
    &.comment-section-img-cont{
        justify-content: flex-start;
    }
    &.comment-section-img{
        width: 250px;
        height: 150px;
    }
    &.comment-section-title{
        font-size: 20px;
    }
    section{
        &.hero-section{
            height: calc(100vh - 128px);
        }
    }
    &.hero-section-mobile-image{
        display: block;
        width: 60%;
        // border: solid 2px white;
        border-radius: 15px;
        height: 70%;
    }
    &.hero-section-content{
        width: 100%;
    }
    &.hero-section-grid{
        // width: 80%;
        visibility: hidden;
    }
    &.hero-section-title{
        font-size: 43px;
        // margin-top: .8em;
        letter-spacing: 7px;
    }
    &.c-img{
        height: 500px;
        width: 100vw !important;
    }
    &.event-header-image{
        width: 400px;
        height: 250px;
    }
    &.event-content-title{
        font-size: 35px !important;
    }
    &.event-content{
        margin-top:1em;
    }
    // &.event-header{
    //     height: 20vh;
    // }
    &.event-header-title{
        font-size: 30px !important;
    }
    
    &.Event-desc{
        h2{
            font-size: 38px;
        }
    }
    &.offer-card{
        width: 300px;
    }
    &.banner{
        background-size: 525px 350px;
    }
    #toolbar{
        padding:.6em;
    }
}