section {
    background-color: white;
    height: calc(100vh - 100px);
    margin-bottom: .4em;
    &.hero-section{
        overflow: hidden;
        // background: url('');
        height: calc(100vh - 64px);
        background-position: center;
        background-size:40px 40px;
        margin-bottom: 0em;
        background-attachment: fixed;
        padding: 1em;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &.secondary-section{
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 2em;
    }
    &.comment-section{
        background-color: rgba(255, 255, 255, 0.877);  
        height: calc(100vh - 64px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
    }
    &.job-section{
        background-color: #111111;
        height: calc(100vh - 68px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &.priceseciton{
        background-color: red;  
        
    }
    &.contact-section{
        background-color: #111111;
        height: calc(100vh - 68px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &.services-section{
        background-color: #111111;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding-bottom: 1.5em;
    }
   
}


.hero-section-content{
    z-index: 2;
    // background-color: red; 
    padding: 1em;
    // backdrop-filter: saturate(180%) blur(10px);
    // background-color: rgba(255,255,255,0.2);
    width: fit-content;
        height: fit-content;
        border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-svg{
    
    height: 60vh;
}
.hero-section-title{
    font-size: 56px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: #1f1f1f;
    margin-bottom: 0em;
    margin-top: .1px;

}
.hero-section-subtitle{
    font-size: 22px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    color: #222224;
    margin-top: 0em;
}

.hero-section-mobile-image{
    // position: absolute;
    display: block;
    width: 50%;
    // border: solid 2px white;
    border-radius: 20px;
    height: 70%;
}
.secondary-section-title{
    font-size: 56px !important;
    font-weight: 100 !important;
}
.secondary-section-desc{
    font-size: 22px;
    color: red;
}
.delivery-svg{
    height: 35vh;
    width: 35vw;
}
.location-distance{
    font-weight: 100 !important;
    font-size: 30px !important;
}
.location-price{
    font-size: 14px !important;
}
.location-list-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
}
.comment-section-title{
    font-size: 56px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: #252525;
    margin-top: .4em;
   
}

.comment-section-desc{
    font-size: 20px;
    color: #2e2e2e;
    margin-top:.5em;
    margin-bottom:2em;
    letter-spacing: 1px;
}
.comment-section-img-cont{
    // margin-top: 2em;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow-x:visible;
    width: 100vw;
    height: 200px;
    white-space: nowrap;
    overflow-y:hidden;
}
.comment-section-img{
    border-radius: 12px;
    height:auto;
    // filter: saturate(100%) ;
    opacity: 0.8;
    width:350px;
    margin-left: 10px;
}

.job-section-title{
    color: #f0efef;
    font-size: 45px;
    margin-bottom: .5em;
}
.job-section-desc{
    color: #e9e8e8;
    width: 60vw;
    font-size: 20px;
}
.contact-section-title{
    color: #e9e9e9;
    font-size: 45px;
    margin-bottom: .5em;
}

.services-section-title{
    color: #e9e9e9;
    font-size: 45px;
    margin-top:.5em;
    margin-bottom: .5em;
}
.services-section-cnt-title{
    color: #e9e9e9;
    font-size: 35px;
    margin-top:.5em;
    margin-bottom:.5em;
}
.services-section-cnt-desc{
    color: #e9e8e8;
    width: 60vw;
    font-size: 20px;
}