section {
    background-color: white;
    height: calc(100vh - 100px);
    margin-bottom: .4em;
    &.hero-section{
        background: url('https://res.cloudinary.com/mikiyas/image/upload/v1607756427/font2_gg4q96.jpg');
        height: calc(70vh - 64px);
        background-position: center;
        background-size:cover;
        margin-bottom: 0em;
        background-attachment: fixed;
        padding: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &.comment-section{
        background-color: #111;  
        height: calc(100vh - 64px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
    }
    &.job-section{
        background-color: #111111;
        height: calc(100vh - 68px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &.priceseciton{
        background-color: red;  
        
    }
    &.contact-section{
        background-color: #111111;
        height: calc(100vh - 68px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &.services-section{
        background-color: #111111;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding-bottom: 1.5em;
    }
   
}


.hero-section-content{
    // background-color: red; 
    padding: 1em;
    backdrop-filter: saturate(180%) blur(10px);
    width: fit-content;
        height: fit-content;
        border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-section-title{
    font-size: 56px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: #1f1f1f;
    margin-bottom: 0em;
    margin-top: .1px;

}
.hero-section-subtitle{
    font-size: 22px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    color: #222224;
    margin-top: 0em;
}

.hero-section-mobile-image{
    // position: absolute;
    display: block;
    width: 50%;
    // border: solid 2px white;
    border-radius: 20px;
    height: 70%;
}
.comment-section-title{
    font-size: 56px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: #e0e0e0;
    margin-top: .4em;
   
}

.comment-section-desc{
    font-size: 20px;
    color: #e0e0e0;
    margin-top:.5em;
    margin-bottom:2em;
    letter-spacing: 1px;
}
.comment-section-img-cont{
    // margin-top: 2em;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow-x:visible;
    width: 100vw;
    height: 200px;
    white-space: nowrap;
    overflow-y:hidden;
}
.comment-section-img{
    border-radius: 12px;
    height:auto;
    // filter: saturate(100%) ;
    opacity: 0.8;
    width:350px;
    margin-left: 10px;
}

.job-section-title{
    color: #f0efef;
    font-size: 45px;
    margin-bottom: .5em;
}
.job-section-desc{
    color: #e9e8e8;
    width: 60vw;
    font-size: 20px;
}
.contact-section-title{
    color: #e9e9e9;
    font-size: 45px;
    margin-bottom: .5em;
}

.services-section-title{
    color: #e9e9e9;
    font-size: 45px;
    margin-top:.5em;
    margin-bottom: .5em;
}
.services-section-cnt-title{
    color: #e9e9e9;
    font-size: 35px;
    margin-top:.5em;
    margin-bottom:.5em;
}
.services-section-cnt-desc{
    color: #e9e8e8;
    width: 60vw;
    font-size: 20px;
}